#high-scores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #944dff;
    margin: 25px;
    background-color: white;
    border: none;   
}

#timer {
    display: block;
    position: relative;
    float: right;
    margin: 25px;
}

.starter-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: none;
    text-align: center;
    width: 650px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.starter-page p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#start-button {
    background-color: #944dff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.quiz-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 450px;
    width: 650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.option-container {
    display:flex;
    flex-flow:column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.option {
    margin: 15px;
    width: 150px;
    border-radius: 4px;
    background-color: #944dff;
    color: white;
    border-color: #944dff;
}

.wrong-right {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.all-done {
    display:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 450px;
    width: 650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-done p {
    margin-bottom: 40px;
    margin-top: 40px;
}

.score-sumbit {
    margin: 15px;
    width: 70px;
    border-radius: 4px;
    background-color: #944dff;
    color: white;
    border-color: #944dff;
}