#high-scores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #362163;
    margin: 25px;   
}

#timer {
    display: block;
    position: relative;
    float: right;
    margin: 25px;
}

.starter-page {
    margin: 40px;
    display: block;
    text-align: center;
}

#start-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}


#rightwrong {
    color:beige
}

